*{
  background-color: black;
  font-family: arial;
}
.st-1{
  padding-top: 30px;
  color: red;
  text-align: center;
}
.st-2{
  color: rgb(183, 180, 180);
  text-align: center;
  text-
}
.classes{
  padding-top: 30px;
  color: white;
}
.table-1{
  color: beige;
}
.classe{
  padding-top: 30px;
  color: white;
  font-size: 15px;
}